@model IEnumerable<PSDemo.Models.LineItem>

@{
    ViewBag.Title = "LineItems";
}

<h2>LineItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LineItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LineItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LineItemID })
        </td>
    </tr>
}

</table>
